<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Angular4-Asp.NetCore</a>
</div>
<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav">
        <li><a routerLink="/kendo" routerLinkActive="active">Kendo</a></li>
        <li><a routerLink="/material" routerLinkActive="active">ng2-material</a></li>
        <li><a routerLink="/kendo" routerLinkActive="active">ASP.NET Core SignalR</a></li>
        <li><a routerLink="/draw" routerLinkActive="active">SVG Draw</a></li>
        
    </ul>
</div><!--/.nav-collapse -->